# Backups de texto
*~
*.swp

# Virtualenv
venv/

# Arquivos do pycharm
.idea/

# Builds
build/
*.egg-info/

# Cache do python
*.pyc
__pycache__/

# Banco de dados
*.db

# Teste de coverage
.coverage
cover/
