<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Labirinto no flask</title>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WRQ6WQH');</script>
    <!-- End Google Tag Manager -->

</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WRQ6WQH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!--<form method="post" action="/sessao/{{ pagina }}">-->
        <!--<strong>Sessão</strong>-->
        <!--<input name="nome" id="nome">-->
        <!--<input type="submit" name="salvar" id="salva_sessao" value="Salvar">-->
        <!--<input type="submit" name="carregar" id="carrega_sessao" value="Carregar">-->
    <!--</form>-->
    <!--<hr>-->
    {% block body %}{% endblock %}
</body>
</html>